<!DOCTYPE html>
<html>
<title>html+vuejs+elementui</title>

<head>
  <meta charset="UTF-8">
  <!-- import CSS -->
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
  <link rel="stylesheet" href="./style/index.css">
</head>

<body>
  <div id="app" class="container">

    <el-container id='container'>
      <el-header id="header" style="height: 61px;">
        <!-- Header content -->
        <div id="logo">
          <span>
            <img src="./assets/logo.png" style="width: 30px;vertical-align: middle;margin-right: 10px;">
          </span>
          <span>{{title}}</span>
        </div>
        <div id="nav" class="nav">
          <el-menu mode="horizontal" :default-active="activeIndex" @select="handleSelect" active-text-color="#1989fa">
            <!-- <li>
              <el-input style="line-height: 60px;margin: 0px 20px 0px 0px;position: relative;float: right;"
                class="el-input el-input--small" v-model="input" placeholder="请输入内容"></el-input>
            </li> -->
            <template v-for="menu in menus">
              <el-submenu v-if="menu.child&&menu.child.length>0" :index="menu.id" :key="menu.id">
                <template slot="title">{{menu.title}}</template>
                <el-menu-item v-for="item in menu.child" :index="item.id">
                  {{item.title}}
                </el-menu-item>
                </el-menu-item>
              </el-submenu>
              <el-menu-item v-else :index="menu.id" :key="menu.id">{{menu.title}}</el-menu-item>
            </template>
          </el-menu>
        </div>
      </el-header>
      <el-container>
        <el-aside width="250px" id="side">
          <!-- Aside content -->
          <el-menu :default-active="activeSideIndex" class="el-menu-vertical-demo" @select="sideMenuHandle"
            @open="handleOpen" @close="handleClose">
            <template v-for="menu in selectedMenu.sideMenus">
              <el-menu-item :index="menu.id" :key="menu.id">
                <i class="el-icon-paperclip"></i>
                <span slot="title">{{menu.title}}</span>
              </el-menu-item>
            </template>
          </el-menu>
        </el-aside>
        <el-main height="100%">
          <!-- Main content -->
          <iframe :src="selectedPath" style="width: 100%;height: 98%;border: 0px;margin: 0px;"></iframe>
        </el-main>
      </el-container>
    </el-container>
  </div>
</body>
<!-- import Vue before Element -->
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<!-- import JavaScript -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="./js/index.js"></script>
</html>