html, body {
  height: 100%;
  margin: 0px;
}

#app {
  height: 100%;
}

#container {
  height: 100%;
}

#nav {
  float: right;
  margin-right: 100px;
  /* opacity: 0.5; */
}

.nav li {
  float: left;
}

#header {
  border-bottom: 1px solid #dcdfe6;
  height: 65px;
}

#logo {
  float: left;
}

#logo span {
  line-height: 60px;
  height: 60px;
  font-size: 20px;
  font-weight: bold;
}

#side {
  border-right: 1px solid #dcdfe6;
}

.el-menu.el-menu--horizontal {
  border-bottom: 0px;
}